table tr:hover  {
	background-color: #e6e6e6 !important;

}

/*
Table Style - This is what you want
------------------------------------------------------------------ */
.table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.table a:active,
.table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    padding: 0;
    border-spacing: 0;

}
.table th {
	padding:11px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.table th:first-child{
	text-align: left;
	padding-left:10px;
}
.table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.table tr{
	text-align: center;
	padding-left:10px;
}
.table tr td:first-child{
	text-align: left;
	padding-left:10px;
	border-left: 0;
}
.table tr td {
	padding: 5px 10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.table tr:last-child td{
	border-bottom:0;
}
.table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


.table tr.active td{
	background: #e6e6e6;
	//background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
	//background: -moz-linear-gradient(top,  #aaa,  #ccc);
}



// Table with body scroll


.table-body-scroll {
    display: flex;
    flex-flow: column;
    width: 100%;
		height: 100%;
		padding:0;
		tr {
			padding: 0;
		}
}
.table-body-scroll thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
.table-body-scroll tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
.table-body-scroll tbody tr {
    width: 100%;
}
.table-body-scroll thead, .table-body-scroll tbody tr {
    display: table;
    table-layout: fixed;
}
